# ignore snapshots folder
/snapshots
# ignore logs folder
/logs
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Text editor temporal files
*~
*.save
*.swp
/.idea
/venv
/.vscode
