# ssh reverse env

bootstrap_ssh_reverse() {
  SSH_PRIVKEY_PATH="ssh-reserve/ssh_workbench"
  SSH_PUBKEY_PATH="${SSH_PRIVKEY_PATH}.pub"

  # creates ssh directory with correct permissions
  mkdir -p ~/.ssh/
  touch ~/.ssh/authorized_keys
  chmod 0700 ~/.ssh/
  chmod 0600 ~/.ssh/authorized_keys
  chown -R $USER: ~/.ssh/
  find ~/.ssh/ -type d -exec chmod 0700 {} \;
  find ~/.ssh/ -type f -exec chmod 0600 {} \;

  cp "${SSH_PRIVKEY_PATH}" ~/.ssh/
  cp "${SSH_PUBKEY_PATH}" ~/.ssh/
}


# vars for SSH_CMD
SSH_USER='test'
SSH_HOST='cas.cat'
SSH_PORT='22'
SSH_PORT_REVERSE='9000'
# identify on ssh target with specified public key
SSH_PKEY_OPT="-i ${SSH_PUBKEY}"
# the ssh reverse forwarding
SSH_FWD_OPT="-R ${SSH_PORT_REVERSE}:localhost:${SSH_PORT}"
SSH_TARGET="${SSH_USER}@${SSH_HOST} -p ${SSH_PORT}"
# src https://www.howtoforge.com/reverse-ssh-tunneling
SSH_CMD="ssh ${SSH_PKEY_OPT} ${SSH_FWD_OPT} ${SSH_TARGET}"
